html body h1 {
  text-align: center; }

html body #flip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  html body #flip-container .prozent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    html body #flip-container .prozent p {
      text-align: center;
      font-size: 36px; }
  html body #flip-container .reset-button {
    display: none;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #7cb9e8;
    color: #fff;
    margin-right: 10px;
    padding: 12px 24px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
  html body #flip-container .reset-button:hover {
    background-color: #67a0d8;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); }

html body .buttons {
  display: flex;
  justify-content: center;
  align-items: center; }
  html body .buttons #heads {
    background-color: #383c48; }
  html body .buttons #heads:hover {
    background-color: #383c4899; }
  html body .buttons #tails {
    background-color: #896941; }
  html body .buttons #tails:hover {
    background-color: #89694199; }
  html body .buttons .activeButton {
    border: 4mm ridge #f08e1c; }
  html body .buttons button {
    width: 200px;
    height: 100px;
    color: white;
    margin: 0 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 36px;
    text-align: center;
    cursor: pointer; }

html .result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  margin: 20px;
  height: 300px;
  width: 600px;
  position: relative; }
  html .result-container #result {
    color: white;
    font-family: "Gajraj One", cursive;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1em;
    text-align: center; }

html .lose {
  animation: moveLeft 1s forwards;
  background: red;
  background: linear-gradient(180deg, red 0%, blanchedalmond 100%); }

html .win {
  animation: moveRight 1s forwards;
  background: #00ff04;
  background: linear-gradient(180deg, #00ff04 0%, blanchedalmond 100%); }

@keyframes moveLeft {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes moveRight {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes click {
  0% {
    border: 0px solid #ccc; }
  50% {
    border: 2mm ridge #f08e1c; }
  100% {
    border: 4mm ridge #f08e1c; } }

@media (min-width: 320px) and (max-width: 600px) {
  html body .buttons button {
    width: 150px;
    height: 75px;
    font-size: 24px; }
  html .result-container {
    width: 300px;
    height: 100px; }
  html .result-container #result {
    margin: 0px;
    font-size: 24px; } }
