@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
#scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  .score-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border-bottom: 3px solid black;
    .score-h {
      font-family: "Bebas Neue", cursive;
      font-size: 6rem;
      padding: 0px;
    }
    .point {
      width: 150px;
    }
    .rotate {
      animation: rotate 10s linear infinite;
    }
    .reverse {
      animation: reverse-rotate 10s linear infinite;
    }
  }
  .leader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-decoration: none;
    padding: 0px;
    .user-score {
      &:first-child {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
      &:last-child {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #ffa000;
      width: 100%;
      margin: 0.5rem;
      padding: 1rem;
      list-style: none;

      font-size: 2rem;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes reverse-rotate {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@media only screen and (max-width: 768px) {
  #scoreboard-container .score-title {
    .score-h {
      font-size: 3rem;
    }
    .point {
      width: 75px;
    }
  }
}
