@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&family=Gajraj+One&display=swap");

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  h3 {
    font-size: 2rem;
    color: white;
    font-family: "Teko", sans-serif;
    text-decoration: underline;
    margin: 0.2rem;
    margin-right: 0.5rem;
  }
}
#score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  #border-out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc927;
    border: 2px #ffa000 solid;
    padding: 3px;
    #border-in {
      text-align: center;
      background-color: #ffa000;
      .border-in-item {
        margin: 0px;
        padding: 0px;
      }
    }
  }
}
