#valodle-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #agent-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #filled-basic {
      background-color: #dcdcdc;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; /* example maximum width */
    margin: 0 auto; /* center the table */
    font-size: 16px;
    line-height: 1.4;

    th {
      background-color: #555;
      border: 1px solid #bbbbbb;
      padding: 10px;
      font-weight: bold;
      text-align: left;
      color: #fff;
    }

    td {
      border: 1px solid #ddd;
      padding: 10px;
      vertical-align: top;

      &:first-child {
        font-weight: bold;
      }
    }
    #table-name {
      background-color: #d2d2d2;
    }
  }
}
