// #main {
//   height: 100vh;
// }

//breakpoint
.mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .roulette-guesses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: gainsboro;
    border-radius: 50px;
    border: 5px black solid;
    padding: 0.1rem;
    .guess-box {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin: 0.2rem;
      width: 100px;
      height: 50px;
      border-radius: 50px;
      border: 5px goldenrod groove;
    }
  }
  .game-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
#table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border: 5px black;
  border-style: groove;
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
  }
  .roww {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .col1 {
      text-align: center;
      background-color: #008000;
      width: 50px;
      height: 154px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .col2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .black {
          background-color: black;
        }
        .red {
          background-color: #ff0000;
        }

        .box {
          width: 50px;
          height: 50px;
          border: 1px white solid;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .roww2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .box {
        width: 222.66px;
        height: 50px;
        background-color: grey;
        border: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .row3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .black {
        background-color: black !important;
      }
      .red {
        background-color: red !important;
      }
      .box {
        background-color: grey;
        width: 110.33px;

        height: 50px;
        border: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .last-numbers {
    margin-top: 1rem;
    font-size: 5rem;
    margin-bottom: 0.1rem;
  }
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .number-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: orangered;
    color: whitesmoke;
    font-size: 2rem;
    border: 1px white solid;
    border-radius: 5px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  #table {
    margin: 2rem;
  }
  #table button {
    font-size: 0.5rem;
  }
  #table .roww .col2 .row .box {
    width: 25px;
    height: 25px;
  }
  #table .roww .col1 {
    width: 25px;
    height: 81px;
  }
  #table .roww2 .row2 .box {
    height: 25px;
    width: 114.33px;
  }
  #table .roww2 .row3 .box {
    height: 25px;
    width: 55.83px;
  }
  .last {
    .last-numbers {
      font-size: 2rem;
    }
  }
  .number-container {
    .number-box {
      width: 25px;
      height: 25px;
      background-color: orangered;
      color: whitesmoke;
      font-size: 1rem;
      border: 1px white solid;
      border-radius: 5px;
    }
    margin-bottom: 20rem;
    .number-box:last-child {
    }
  }
}
