@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&display=swap");
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/konsey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  #contact-container-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 177, 177, 0.613);
    border-radius: 2rem;
    padding: 1rem;
  }
  .contact-container_p {
    font-family: "IBM Plex Serif", serif;
    font-size: 3rem;
    margin: 0px;
    padding: 2rem;
    &:nth-child(2) {
      font-size: 5rem;
    }
  }
}
