@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&family=Gajraj+One&display=swap");
$primary-color: #4db6ac;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #00253b;
  padding: 5px 20px;
  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .menu-icon {
      display: none;
    }
  }
  .logo {
    margin-left: 32px;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  .navigation-item {
    position: relative;
    padding: 14px 20px;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.2s;
    padding: 0rem;

    .new {
      color: #dae540;
    }

    .navigation-item-link {
      padding: 1rem;
    }
    .navigation-item-link.active {
      border-bottom: 3px solid $primary-color;
    }
    .navigation-item-link:hover {
      border-bottom: none;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $primary-color;
      transition: all 0.2s;
    }
    &:nth-child(7)::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #ffa000;
      transition: all 0.2s;
    }

    &:hover {
      cursor: pointer;
      &:after {
        width: 100%;
      }
    }

    &.active {
      font-weight: bold;

      &:after {
        width: 100%;
      }
    }
  }
}
#onLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#onNotLogin {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header-container {
    height: auto;
    padding: 0px;
  }
  .header-container .menu-container {
    width: 100%;
  }
  .header-container .logo-container .menu-icon {
    margin: 1rem;
    color: white;
  }
  .navigation {
    display: none;
    background-color: #00253b;
    width: 100%;

    .navigation-item {
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: #4db6ac 0.5px solid;
      padding: 1rem;

      .navigation-item-link.active {
        .navigation-item {
          border-bottom: #4db6ac 3px solid;
        }
      }

      &:last-child {
        margin-bottom: 5rem;
      }
    }
  }
  .header-container .logo-container .menu-icon {
    display: block;
  }

  .open {
    display: block;
    z-index: 2;
  }
  .header-container {
    display: flex;
    flex-direction: column;
  }
  #onNotLogin {
    flex-direction: column;
  }
}
