$h1-colors: #f00, #0f0, #00f, #ff0, #f0f, #0ff;
.slot-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #81f018,
    #00e795,
    #00d3eb,
    #00b6ff,
    #008eff,
    #5b75f9,
    #8e53e7,
    #b600c7,
    #e4009f,
    #ff0071,
    #ff0042,
    #ff0000
  );
  .table-shadow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
  }
}

.slot-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  color: white;
  padding: 5rem;
  border-radius: 100px;

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    border: 10px rgb(255, 174, 0) solid;

    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4rem;
      width: 100px;
      height: 20px;
      text-align: center;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes cycle {
  0% {
    color: nth($h1-colors, 1);
  }
  16.67% {
    color: nth($h1-colors, 2);
  }
  33.34% {
    color: nth($h1-colors, 3);
  }
  50% {
    color: nth($h1-colors, 4);
  }
  66.67% {
    color: nth($h1-colors, 5);
  }
  83.34% {
    color: nth($h1-colors, 6);
  }
  100% {
    color: nth($h1-colors, 1);
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .slot-table-container {
    flex-direction: column;
    .table-shadow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
    }
  }
  .slot-table {
    .col {
      border-width: 5px;
      .number {
        font-size: 2rem;
        width: 50px;
        height: 20px;
      }
    }
  }
}
