html {
  margin: 0px;
  padding: 0px;
  background-color: blanchedalmond; }

html body {
  margin: 0px;
  padding: 0px; }

html button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer; }

html #game-container {
  display: flex;
  flex-wrap: wrap; }

html #game-container .number-box {
  background-color: azure;
  border: #333;
  margin: 8px;
  font-size: 32px; }

html .start {
  background-color: green;
  color: white;
  border: none;
  animation: pulse 1s ease-in-out infinite; }

html .end {
  background-color: red;
  color: white;
  border: none;
  animation: pulse 1s ease-in-out infinite; }

html .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px; }

html header {
  height: 80px;
  background-color: #0e8ae8; }

html header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px; }

html header ul li img {
  padding-left: 32px; }

html header ul li h1 {
  padding-right: 32px;
  margin: 0px;
  text-align: center;
  font-size: 48px;
  font-family: Arial, sans-serif;
  color: #333;
  text-shadow: 2px 2px #ddd; }

html header #game-container {
  display: flex;
  flex-wrap: wrap; }

html header .number-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px; }

@keyframes pulse {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }
