html {
  margin: 0px;
  padding: 0px;
  background-color: blanchedalmond; }

html body {
  margin: 0px;
  padding: 0px; }

html body header {
  height: 80px;
  background-color: #0e8ae8; }

html body header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px; }

html body header ul li img {
  padding-left: 32px; }

html body header ul li h1 {
  padding-right: 32px;
  margin: 0px;
  text-align: center;
  font-size: 48px;
  font-family: Arial, sans-serif;
  color: #333;
  text-shadow: 2px 2px #ddd; }

html body header #game-container {
  display: flex;
  flex-wrap: wrap; }

html body header .number-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px; }

html body main {
  padding: 32px; }

html body main #button-container {
  display: flex;
  justify-content: center;
  align-items: center; }

html body main .pauseAlert {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px #ddd;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 48px;
  border-radius: 50px; }

html body main .finishAlert {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px #ddd;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 48px;
  border-radius: 50px; }

html body main button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer; }

html body main .start {
  background-color: green;
  color: white;
  border: none;
  animation: pulse 2s ease-in-out infinite; }

html body main .end {
  background-color: red;
  color: white;
  border: none;
  margin-right: 32px;
  animation: pulse 2s ease-in-out infinite; }

html body main .pause {
  background-color: #00bfff;
  color: #fff;
  border: none;
  animation: pulse 2s ease-in-out infinite;
  display: none; }

html body main #game-container {
  display: flex;
  flex-wrap: wrap; }

html body main #game-container .number-box {
  background-color: #ffa929;
  border: #333;
  font-size: 32px;
  padding: 8px;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  float: left;
  margin: 10px;
  animation: moveIn 0.5s ease-in-out; }

@keyframes pulse {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

@keyframes moveIn {
  0% {
    transform: translateX(-100%) scale(0); }
  50% {
    transform: translateX(0) scale(2); }
  100% {
    transform: scale(1); } }
