@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.trade-container {
  width: 100%;
  .info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 1rem;
    cursor: pointer;
    p {
      width: 40%;
      text-align: center;
      font-size: 1.5rem;
      font-family: "Oswald", sans-serif;
      border-bottom: 2px solid black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    animation: coolFadeIn 1s ease-in-out;
  }

  .swap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    .swap__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .slider {
        width: 80%;
        -webkit-appearance: none;
        height: 8px;
        border-radius: 5px;
        background-color: #811c1c;
        outline: none;
        opacity: 0.7;
        transition: opacity 0.2s;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #333;
          cursor: pointer;
        }

        &:hover {
          opacity: 1;
        }

        &:focus {
          opacity: 1;
        }

        &::-moz-range-thumb {
          width: 16px;
          height: 16px;
          border: none;
          border-radius: 50%;
          background-color: #333;
          cursor: pointer;
        }

        &::-ms-thumb {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #333;
          cursor: pointer;
        }
      }
      .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
          color: #333;
          cursor: pointer;
          transition: color 0.2s;

          &:hover {
            transition: 0.1s ease-in;
            color: black;
          }
        }
      }

      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        width: 80%;
        margin: 10px 0px;
      }
      p {
        font-size: 18px;
        color: #333;
        margin-top: 10px;
        text-align: center;
        animation: coolFadeIn 1s ease-in-out;
      }
    }
  }

  .swap-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .deposit-btn {
    background-color: red;
    &:hover {
      background-color: rgb(205, 0, 0);
    }
  }
  .withdraw-btn {
    background-color: #007bff;
    &:hover {
      background-color: #0056b3;
    }
  }
}
@keyframes coolFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
