@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
#slot-games-container {
  .gamechange {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    #easy {
      background-color: #81f018;
    }
    #easy:hover {
      span {
        display: block;
      }
    }

    #medium {
      background-color: #1842f0;
    }
    #medium:hover {
      span {
        display: block;
      }
    }

    #hard {
      background-color: red;
    }
    #hard:hover {
      span {
        display: block;
      }
    }
    button {
      width: 350px;
      font-family: "Gloock", serif;
      height: 100px;
      font-size: 2rem;
      span {
        display: none;
        color: white;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  #slot-games-container .gamechange {
    flex-direction: column;
  }
}
