@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@200&display=swap");
#slot-games-container {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(
    circle,
    #81f018,
    #acb100,
    #a97600,
    #88461d,
    #542521,
    #4e1e1f,
    #48161e,
    #420f1d,
    #710826,
    #a20027,
    #d2001f,
    #ff0000
  );
  .gamechange {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    #slot-container-col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .card {
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 1rem;
        background-image: linear-gradient(
          to top,
          #ffffff,
          #cacaca,
          #979797,
          #676767,
          #3b3b3b,
          #392f3b,
          #3e2131,
          #420f1d,
          #710826,
          #a20027,
          #d2001f,
          #ff0000
        );
        p {
          display: none;
          border: 1px solid #ccc;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          font-size: 2rem;
          padding: 0.2rem;
          font-family: "Noto Sans Lao", sans-serif;
        }
        &:hover {
          p {
            display: inline;
          }
        }
        img {
          height: 250px;
          width: 250px;
        }
      }
    }
    .slot-links {
      margin-top: 2rem;
      width: 350px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: aliceblue;
    }
    #easy {
      background-color: #81f018;
    }
    #medium {
      background-color: #1842f0;
    }
    #hard {
      background-color: red;
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  #slot-games-container .gamechange {
    flex-direction: column;
  }
  #slot-games-container {
    height: fit-content;
  }
  #slot-games-container .gamechange #slot-container-col .card p {
    display: inline;
  }
}
