$h1-colors: #f00, #0f0, #00f, #ff0, #f0f, #0ff;
.slot-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slot-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: cycle 30s linear infinite alternate;
    // background-color: rgb(0, 41, 117);
    border-radius: 50px;
    border: 10px goldenrod groove;
    border-bottom: none;
    padding: 1rem;
  }
}

.slot-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  color: white;
  padding: 5rem;
  border-radius: 100px;
  background-color: rgb(45, 0, 117);

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    border: 10px rgb(255, 174, 0) solid;

    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4rem;
      width: 100px;
      height: 20px;
      text-align: center;
    }
  }
}

.slot-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .spin-button {
    background-color: #ffffff00;
    // border: 1px black solid;
    border: none;
    #slot-bar {
      // width: 80px;
      // height: 200px;
    }
    .slot-bar {
      animation: spin2 1s forwards;
    }
    .spinned {
      animation: spin 1s forwards;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes cycle {
  0% {
    color: nth($h1-colors, 1);
  }
  16.67% {
    color: nth($h1-colors, 2);
  }
  33.34% {
    color: nth($h1-colors, 3);
  }
  50% {
    color: nth($h1-colors, 4);
  }
  66.67% {
    color: nth($h1-colors, 5);
  }
  83.34% {
    color: nth($h1-colors, 6);
  }
  100% {
    color: nth($h1-colors, 1);
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .slot-table {
    margin-top: 5rem;
    margin-bottom: 20rem;
    .col {
      border-width: 5px;
      .number {
        font-size: 2rem;
        width: 50px;
        height: 20px;
      }
    }
  }
}
