#docs {
  #docs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d6955d;
    height: 4rem;
    .title {
      text-align: center;
      width: 100%;
      font-weight: 700;
      font-size: 1.6rem;
    }
    .header-l {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
      }
    }
  }
  #docs-main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    .aside {
      flex: 2;
      background-color: #e8c9ae;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .aside-nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 0rem;
        padding-left: 1.2rem;

        li {
          margin: 0.5rem 0rem;
        }
      }
    }
    .section {
      flex: 10;
      margin-left: 1rem;
      padding-bottom: 5rem;
      padding-top: 3rem;
      p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.2rem;
      }
      h2 {
        font-size: 2rem;
        margin: 0.2rem;
      }
      .welcome {
        .title {
          font-size: 3rem;
        }
      }
      .code {
        background-color: #d6955d;
        width: fit-content;
        padding: 0.5rem;
        font-style: italic;
        margin-left: 2rem;
      }
    }
  }
}
