$red: #d11919;
$whitesmoke: #fafafa;
#score {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbff0067;
  width: fit-content;
  border-radius: 20px;

  img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
}
#main {
  height: calc(100vh - (7rem));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffebcd;
  h2 {
    margin-top: -15rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #05050599;
  }
  #buttons {
    .heads {
      background-color: #f5f242;
      color: #000000;
      width: 150px;
      height: 75px;
      font-size: 3rem;
      margin-right: 5px;
    }
    .heads:hover {
      color: #f5f242;
      background-color: #000000;
    }
    .tails {
      color: #000000;
      background-color: #d9380c;

      width: 150px;
      height: 75px;
      font-size: 3rem;
      margin-left: 5px;
    }
    .tails:hover {
      background-color: #000000;
      color: #d9380c;
    }
    .buton:active {
      background-color: $red;
      color: $whitesmoke;
    }
  }
}
@media screen and (max-width: 810px) {
  #main {
    margin-top: 0px;
  }
}
