$red: #d11919;
$whitesmoke: #fafafa;

#coinflip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffebcd;
  height: 100vh;
  #coinflip-gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    img {
      margin-top: -10rem;
    }
  }

  .silvercoin {
    font-size: 10rem;
    color: #b6b6b6;
  }
  .coin-border-out {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #b6b6b6;
    border-radius: 50%;
    color: #b6b6b6;
  }
  .coin-border-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 50%;
    font-size: 5rem;
    padding: 5rem;
  }
  #buttons {
    .buton {
      width: 200px;
      height: 100px;
      font-size: 3rem;
      padding: 0px;
      margin: 2rem;
      text-align: center;
    }
    .heads {
      background-color: #b39d7d;
    }
    .tails {
      background-color: #9c86b3;
    }
  }
}
@media screen and (max-width: 810px) {
  #coinflip-container {
    margin-top: 0px;
  }
}
