.go-back {
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  text-decoration: underline;
  top: 175px;
  left: 40px;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
}

.go-back:hover {
  color: #666;
}
